<li id="comment-<%= comment._id %>">
    <p>
        <% if (locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/?id=<%= comment.id %>&post_user_id=<%= post.user.id %>">X</a>
            </small>
        <% } %>

        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>